h1 {
	text-align: center;
	font-size: 30px;
	font-family: "Arial";	
}




#main_wrapper {
	height:300px;
	width:600px;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;


}


#title {
	margin-top:80px;

}

#search_wrapper {
	width:500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

#button {
	margin-top:10px;

}

/*form {
	position: fixed;
	text-align: center;
	right:100px;
	left: 100px;
	top: 200px;
	width: 1000px;
	margin: auto;
}*/